.def-width-1200 { width: 1200px;}
.def-width-800 { width: 800px; }

@media(max-width: 1200px)
{
	.def-width-1200 { width: 100%;}
	.def-width-800 { width: 100%; }
}

.purple-border-box {
	border:1px solid #F6388A; 
}

.ani-circle-par {
	visibility: hidden;
	position: relative;
	width: 150px;
}
.ani-circle-chd {
	visibility: hidden;
	position: absolute;
	width: 150px; height: 150px;
	border-radius: 50%;
	top: 0px; 
	border: 2px solid orange;
}