.twhite { color: white; }
.tblack { color: black; }
.tsilver { color: silver; }

.bwhite { background-color: white; }
.bwhite1 { background-color: #e7e7e7; }

.bblack { background-color: black; }
.bblack1 { background-color: #141414; }
